params {
        in_fastq = "/path/to/inputfastq/*{R1,R2}*.gz"
        in_bam = "/path/to/inputbams/*{bam,bam.bai}"
        ref_file_37 = '/path/to/ref'
        ref_file_38 = '/path/to/ref'
        varcall_dir = "/path/to/gvcf"
        align_dir= "/path/to/bams"
        gvcfs_dir = "/path/to/gvcflist"
}

process {
        cache = true
        stageInMode = 'symlink'
        stageOutMode = 'rsync'
}

profiles {
        standard {
                process.executor = 'local'
        }

    // SLURM scheduler
        slurm {
                process.executor = 'slurm'
                process.queue = 'batch'
        }

}
